<!DOCTYPE html>
<html>
<head>
  <title>ControllerExercise</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= params[:format] %>
<%= params.inspect %>

<%= link_to "MakerSquare", "http://themakersquare.com" %>
<%= link_to "User List", "/users" %>
<%= link_to "Product List", "/products" %>

<%= yield %>

</body>
</html>
